@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colours*/

.ui-menu-color-home {
    background-color: rgba(250, 250, 250, 0.5);
}

.ui-menu-color-music {
    background-color: rgba(250, 250, 250, 0.5);
}

.ui-menu-color-tour-dates {
    background-color: rgba(250, 250, 250, 0.5);
}

.ui-menu-color-gallery {
    background-color: rgba(250, 250, 250, 0.5);
}

.ui-menu-color-contact {
    background-color: rgba(250, 250, 250, 0.5);
}

.bookus {
    color: #fafafa;
}

body {      
    font-family: Roboto, sans-serif;      
    font-weight: 300;      
    background-color: #ffffff00;      
    color: #525252;
} 

/*--------------------------------------------Background*/

html,
.body-container {
    height: 100vh;
    background: url("../images/textured-wall.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*--------------------------------------------General Other*/

.uppercase {
    text-transform: uppercase;
}

a:link {
    text-decoration: none;
}

.body-members p {
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5 {
   font-family: "Exo", sans-serif; 
}

/*--------------------------------------------Heading*/

header {
    position: relative;
}

.heading p {
    padding-top: 70px;
    padding-bottom: 5px;
    align-items: center;
}

.page-head {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
}

.list-inline {
    padding-left: 0px;
    margin-left: 100px;
    list-style: none;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 40px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    color: #5d33ce;
    height: 40px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--------------------------------------------Hover.css*/

header .menuitem a:hover {
    color: #A9A9A9;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

footer .footmenu a:hover {
    color: #5d33ce;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

footer .bookus:hover {
    color: #5d33ce;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

footer .social-media i:hover {
    color: #5d33ce;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

section .contact-socialmedia li a i:hover {
    color: #5d33ce;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*--------------------------------------------Footer*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    text-align: center;
}

.footer-info {
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin-top: 30px;
}

.footer-info ul li a {
    display: block;
    color: #fafafa;
    margin-top: 30px;
    letter-spacing: 2px;
    text-align: center;
}

.social-media i {
    letter-spacing: 25px;
}

.bookus {
    padding: 0;
    margin-top: 30px;
    text-align: center;
}

/*--------------------------------------------About Main*/

.about-main {
    padding: 30px;
}

.about-members {
    padding-top: 5px;
    padding-bottom: 30px;
}

.video {
    float: left;
    
}

/*--------------------------------------------Tour Dates*/

.tourdates {
    padding: 30px;
}

.tour-timeline {
    position: relative;
    color: #000000;
    border-left: 2px solid;
    padding-left: 30px;
    letter-spacing: 5px;
}

.tour-timeline p {
    color: #f0ffff;
}

.tour-item {
    padding-top: 25px;
    
}

.tour-country {
    margin-bottom: 2px;
}

.tour-item::before {
    position: absolute;
    left: 30px;
    top: 60px;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.tour-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 50px;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #f0ffff;
}

/*--------------------------------------------Gallery*/

.gallery {
    padding: 30px;
}

.audioclips {
    padding: 20px;
}

.audioclips p {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
    color: #383838;
}

.gallery-photo img {
    padding-bottom: 10px;
     transition: all.5s ease-in-out;
    -moz-transition: all.5s ease-in-out;
    -webkit-transition: all.5s ease-in-out;
}

/*--------------------------------------------Contact*/

.contact {
    padding: 30px;
}

.contact-socialmedia li a i {
    width: 150px;
    height: 150px;
    padding: 70px 0;
    border-radius: 30%;
    font-size: 50px;
    line-height: 10px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
}

.contact-socialmedia li {
    padding-top: 0;
    padding-bottom: 20px;
    padding-right: 20px;

}