@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colours*/

.ui-menu-color-home,
.ui-menu-color-music,
.ui-menu-color-tour-dates,
.ui-menu-color-gallery,
.ui-menu-color-contact {
    background-color: rgba(250, 250, 250, 0.5);
}

.bookus {
    color: #fafafa;
}

body {      
    font-family: Roboto, sans-serif;      
    font-weight: 300;      
    background-color: #ffffff;      
    color: rgba(0, 0, 0, 0.8);;
} 

/*--------------------------------------------General Other*/

.uppercase {
    text-transform: uppercase;
}

a:link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
   font-family: "Exo", sans-serif; 
}

/*--------------------------------------------Heading*/

header {
    position: relative;
}

.heading-logo img {
    float: left;
    padding-bottom: 10px;
}

.page-head {
    display: block;
    margin-top: 25px;
    width: 15%;
}

.navbar-nav {
    padding: 20px;
}

/*--------------------------------------------Hover.css*/

header .menuitem a:hover {
    color: #A9A9A9;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.foothover:hover {
    color: #5d33ce;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}



button[type="submit"]:hover {
    background-color: #a0a0a0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*--------------------------------------------Footer*/

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    text-align: center;
    background-color: #000000;
}

.footeritem span {
    display: inline-block;
}

.footer-info {
    display: block;
    margin-top: 10px;
}

.footer-info ul li a {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 13px;
    display: block;
    color: #fafafa;
    margin-top: 30px;
    letter-spacing: 2px;
    text-align: center;
    padding-left: 0;
}

.social-links {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}

.social-media i {
    letter-spacing: 50px;
}

.bookus {
    padding: 0;
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
}

/*--------------------------------------------About Main*/

.heading h1{
    text-align: center;
}

.information-container {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #ffffff;
    color: #000000;
    padding: 30px;
}

.members {
    height: 60vh;
    background: url(../../assets/images/textured-wall.jpg) no-repeat center center fixed; 
}

.bandmembers {
    display: inline-block;
    padding-right: 100px;
}

.membernames {
    display: inline-block;
    padding-right: 80px;
}

.musicvideo video {
    padding-top: 20px;
    padding-bottom: 40px;
    width: 70%;   
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------Tour Dates*/

.tourdate-item {
    padding-top: 50px;
    padding-right: 32px;
    padding-bottom: 0px;
    padding-left: 28px;
    position: relative;
    color: #000000;
    border-left: 2px solid;
    letter-spacing: 5px;
}

.tourdate-item p {
    color: #f0ffff;
    padding-left: 0;
    margin: 0;
    letter-spacing: 5px;
}

.tourdate-item::before {
    position: absolute;
    left: 40px;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.tourdate-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 75px;
    position: absolute;
    left: -7px;
    border-radius: 12px;
    content: '';
    background: #000000;
    border: #f0ffff solid;
}

.tourdates {
    padding: 30px;
}

.tickets a {
    color: #484848;
}

.ticket-colourbck {
    padding-bottom: 1px;
}

.ticket-colourbck a {
    background-color: rgba(93, 51, 206, 0.3);
    position: relative;
    color: #000000;
    display: block;
    border-color: #f0ffff;
    padding: 0.3px;
    border-radius: 15px;
    text-align: center;
    margin: 20px;
}

.buytickets {
    padding-top: 56px;
}

.hvr-sweep-to-right:before {
    background-color: rgba(93, 51, 206, 0.3);
    color: #000000;
    display: block;
    border-color: #f0ffff;
    border-radius: 15px;
    text-align: center;
    transition: 1s ease-in-out;
}

.hvr-sweep-to-right:after {
    background-color: rgba(93, 51, 206, 0.6);
    color: #f0ffff;
    display: block;
    border-color: #f0ffff;
    border-radius: 15px;
    text-align: center;
}


/*--------------------------------------------Gallery*/

.gallery {
    padding: 30px;
}

.audioclips {
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 0;
    margin-left: 0;
    position: relative;
}

.audioclips p {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
    color: #383838;
}

.gallery-photo img {
    padding-bottom: 15px;
    -webkit-box-shadow: -1px -1px 33px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 33px 5px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 33px 5px rgba(0,0,0,0.75);
    transition: all.5s ease-in-out;
    -moz-transition: all.5s ease-in-out;
    -webkit-transition: all.5s ease-in-out;
}

/*--------------------------------------------Contact*/

.contact {
    padding: 30px;
}

.contact-socialmedia a i {
    width: 150px;
    height: 150px;
    padding: 70px 0;
    border-radius: 30%;
    font-size: 50px;
    line-height: 10px;
    text-align: center;
    color: #fafafa;
    background: rgba(160,160,160, 0.6);
}

.contact-socialmedia a {
    padding-right: 30px;
}

.contact-socialmedia {
    padding-bottom: 30px;
    padding-left: 25%;
    padding-right: 10px;
}

.social-username {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 3px;
    color: rgba(93, 51, 206, 0.6);
    padding-top: 5px;
    text-align: center;
}

.form-about {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    color: rgba(93, 51, 206, 0.8);
}

.center-form p {
    padding: 0;
}

.center-form {
    max-width: 120%;
}

button[type="submit"] {
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #5d33ce;
    color: #fafafa;
}